# UAS MACHINE LEARNING ESA UNGGUL

# SOAL 4 A

Lakukan import Library Pandas dan Library Numpy

In [1]:
#Jawaban
#Import Library Pandas


#Import Library Numpy
import pandas as pd
import numpy as np

# SOAL 4 B
DATAFRAME

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

In [4]:
#Jawaban
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe 

df = pd.read_csv('Iris.csv')

# SOAL 4 C
Telaah Data
Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

In [5]:
#Jawaban
#Tampilkan tipe data dari kolom yang ada pada dataset

print(df.dtypes)
print(df.describe())

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# SOAL 4 D

Apakah tipe Data dari kolom berikut ini: (silakan diisi pada cell di bawah ini)

In [6]:
#Jawaban
#Tipe Data dari kolom yang ada di dataset

#kolom  "Id" memiliki tipe data = ................ <isikan jawaban di sini>
#Kolom "SepalLengthCm" memiliki tipe data = ...... <isikan jawaban di sini>
#Kolom "Species" memiliki tipe data = ............ <isikan jawaban di sini>

#1 "SepalLengthCm " memiliki tipe data float64
#2 "SepalWidthCm " memiliki tipe data float64
#3 "SepalLengthCm " memiliki tipe data float64
#4 "SepalWidthCm " memiliki tipe data float64
#5 "SepalLengthCm " memiliki tipe data float64

# SOAL 4 E

Hitunglah ukuran (jumlah baris dan kolom) dari dataset.

In [7]:
#Latihan (6)
#Hitung ukuran (jumlah baris dan kolom) dari dataset = pada dataframe memiliki 150 baris dan 6 kolom
print(df.shape)
print(len(df))
print(len(df.columns))

(150, 6)
150
6

# SOAL 4 F

Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [8]:
#Jawaban
#Tampilkan data untuk kolom "Id" dan kolom "Species" dalam bentuk dataframe
selected_columns = df[["Id", "Species"]]
print(selected_columns)

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

# SOAL 4 G

Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [9]:
#Jawaban
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
print(df[0:10])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

# SOAL 4 H

Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [10]:
#Jawaban
#Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)
selected_columns = df[["Id", "Species"]]
print(selected_columns[11:16])


kolom = "Species"
indexno = df.columns.get_loc(kolom)

print ("index of {} kolom {}".format(kolom, indexno))

    Id      Species
11  12  Iris-setosa
12  13  Iris-setosa
13  14  Iris-setosa
14  15  Iris-setosa
15  16  Iris-setosa
index of Species kolom 5

# SOAL 4 I

Pada DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().

Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [11]:
#Jawaban
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe
df = pd.read_csv("Iris.csv")
print(df.head(8))
print(df.tail(8))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

## Selamat Berjuang Ujian Akhir Semester ##